@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9xiino');
  src:  url('../fonts/icomoon.eot?9xiino#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9xiino') format('truetype'),
    url('../fonts/icomoon.woff?9xiino') format('woff'),
    url('../fonts/icomoon.svg?9xiino#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e922";
}
.icon-grid:before {
  content: "\e920";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e915";
}
.icon-arrow-thick-up:before {
  content: "\e926";
}
.icon-arrow-thick-down:before {
  content: "\e927";
}
.icon-cheveron-down:before {
  content: "\e923";
}
.icon-list-bullet:before {
  content: "\e921";
}
.icon-light-bulb:before {
  content: "\e914";
}
.icon-chevron-thin-right:before {
  content: "\e90d";
}
.icon-star-outlined:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e90a";
}
.icon-chevron-small-down:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e919";
}
.icon-users:before {
  content: "\e916";
}
.icon-heart-o:before {
  content: "\e913";
}
.icon-shopping-bag:before {
  content: "\e912";
}
.icon-legend_toggle:before {
  content: "\e911";
}
.icon-keyboard_arrow_right:before {
  content: "\e907";
}
.icon-keyboard_arrow_left:before {
  content: "\e908";
}
.icon-star1:before {
  content: "\e90b";
}
.icon-shopping-cart:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e903";
}
.icon-home-outline:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e90f";
}
.icon-star2:before {
  content: "\e90c";
}
.icon-social-linkedin:before {
  content: "\e902";
}
.icon-social-facebook:before {
  content: "\e900";
}
.icon-play_arrow:before {
  content: "\e91f";
}
.icon-minimize:before {
  content: "\e91e";
}
.icon-add:before {
  content: "\e91b";
}
.icon-access_time:before {
  content: "\e918";
}
.icon-clear:before {
  content: "\e917";
}
.icon-chevron-down:before {
  content: "\e925";
}
.icon-minus1:before {
  content: "\e91d";
}
.icon-plus1:before {
  content: "\e91a";
}
.icon-x:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-key:before {
  content: "\e98d";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
